## ENGI E1006: Introduction to Computing for Engineers and Applied Scientists
---

`numpy` gave us the powerful `ndarray` class, which let us represent vectors and matrices, and perform vectorized operations on them.

In [5]:
import numpy as np
mat = np.random.random((10, 10))
mat

array([[0.42244487, 0.21635304, 0.50574213, 0.39160583, 0.82171714,
        0.10917528, 0.92453447, 0.43482457, 0.05183509, 0.63635641],
       [0.53095645, 0.94036806, 0.16326767, 0.86163216, 0.55687964,
        0.96588727, 0.07989211, 0.37720889, 0.53315314, 0.02029429],
       [0.48461721, 0.18890459, 0.1061276 , 0.41955193, 0.17429005,
        0.17708643, 0.04385077, 0.66551247, 0.97385531, 0.62400369],
       [0.14692034, 0.87011321, 0.16394209, 0.48807434, 0.52267332,
        0.61818734, 0.20712308, 0.23108104, 0.55565389, 0.69453651],
       [0.19685137, 0.22193625, 0.15568255, 0.77165694, 0.9804302 ,
        0.67499115, 0.57691875, 0.20898055, 0.86146939, 0.53236461],
       [0.92271982, 0.82387721, 0.11813294, 0.5997865 , 0.8963926 ,
        0.10319847, 0.19589352, 0.78735676, 0.39112258, 0.39536628],
       [0.8289851 , 0.68767366, 0.49219005, 0.97759288, 0.48577356,
        0.8164902 , 0.64625585, 0.38918058, 0.61473895, 0.3173676 ],
       [0.4645371 , 0.94585027, 0.36278853, 0.84066072, 0.69899414,
        0.98691064, 0.27325005, 0.73250853, 0.63368552, 0.40272566],
       [0.20450058, 0.52113584, 0.42530364, 0.32014528, 0.37509938,
        0.95426455, 0.67108001, 0.18731426, 0.48373048, 0.33402121],
       [0.78242799, 0.1154705 , 0.29046005, 0.51821566, 0.31419349,
        0.51860535, 0.6690191 , 0.91585976, 0.83370539, 0.33980001]])

This is obviously extremely useful, but real-world data requires a bit more.
- How do i refer to a column of this matrix by name?
- Can i add a new column? What about adding a new column with only a single field populated?
- Can i change the data type of a column?

For these questions, we cannot easily do them. Matrices are not Tables.

Instead, we want a more Excel-like interface to data. This is where `pandas` fits in.

In [6]:
import pandas as pd
df = pd.DataFrame(data=np.random.random((10, 4)), columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.764901  0.890178  0.840078  0.762386
1  0.191364  0.795322  0.529669  0.315802
2  0.768340  0.939835  0.859452  0.267265
3  0.966723  0.817088  0.138783  0.869668
4  0.901957  0.652434  0.675489  0.135819
5  0.421967  0.902668  0.360128  0.440457
6  0.461567  0.976167  0.842072  0.512668
7  0.407582  0.437367  0.251799  0.101260
8  0.701107  0.197193  0.157878  0.184369
9  0.729487  0.041715  0.227472  0.223806

In [7]:
# Access data by column
df['A']

0    0.764901
1    0.191364
2    0.768340
3    0.966723
4    0.901957
5    0.421967
6    0.461567
7    0.407582
8    0.701107
9    0.729487
Name: A, dtype: float64

In [8]:
# Add a new column
df['E'] = np.random.random(10)

In [9]:
df

          A         B         C         D         E
0  0.764901  0.890178  0.840078  0.762386  0.632202
1  0.191364  0.795322  0.529669  0.315802  0.183597
2  0.768340  0.939835  0.859452  0.267265  0.157752
3  0.966723  0.817088  0.138783  0.869668  0.891619
4  0.901957  0.652434  0.675489  0.135819  0.098702
5  0.421967  0.902668  0.360128  0.440457  0.557732
6  0.461567  0.976167  0.842072  0.512668  0.690839
7  0.407582  0.437367  0.251799  0.101260  0.212198
8  0.701107  0.197193  0.157878  0.184369  0.087597
9  0.729487  0.041715  0.227472  0.223806  0.668527

In [10]:
# Change column type
df['A'] = round(df['A'], 2).astype(str)
df

      A         B         C         D         E
0  0.76  0.890178  0.840078  0.762386  0.632202
1  0.19  0.795322  0.529669  0.315802  0.183597
2  0.77  0.939835  0.859452  0.267265  0.157752
3  0.97  0.817088  0.138783  0.869668  0.891619
4   0.9  0.652434  0.675489  0.135819  0.098702
5  0.42  0.902668  0.360128  0.440457  0.557732
6  0.46  0.976167  0.842072  0.512668  0.690839
7  0.41  0.437367  0.251799  0.101260  0.212198
8   0.7  0.197193  0.157878  0.184369  0.087597
9  0.73  0.041715  0.227472  0.223806  0.668527

## Pandas architecture
Pandas is a very large and complicated project, so it won't be possible to discuss how everything works. We'll just cover the basics.

A column of a table, called a `Series`, is like a `numpy` array. It has a common data type, supports vectorized operations, has helpful methods like `sum` and `mean`, etc.

<img src="assets/1.png" width=550></img>


A collection of `Series` can be grouped into a `DataFrame`, which is the pandas representation of a Table. We can access our table by column name (to grab columns), or by row index to grab rows.

<img src="assets/2.png" width=550></img>


Row index and Column index let us do `pivoting`. By default, the row index is just the row number, and the column index is just the column name, but we can set these to different/multiple indexes to do pivoting and aggregation (more of this to come later).

<img src="assets/3.png" width=550></img>


DataFrames support a large number of operations:
- Concatenating and Joining tables
- Pivoting and Unpivoting tables
- Calculating statistics
- Plotting
- Applying functions
- Indexing and Slicing
- Bucketing (histogramming)
- Converting
    - to/from csv
    - to/from numpy
    - to/from excel
    - and many other formats

We'll only cover a few of these, you can find extensive documentation and tutorials on the [pandas website](https://pandas.pydata.org/docs/index.html).



Let's take a look at our `superstore.csv` to see what we can do with pandas.

In [11]:
pd?

In [12]:
pd.read_csv?

In [13]:
df = pd.read_csv("superstore.csv")

FileNotFoundError: [Errno 2] File superstore.csv does not exist: 'superstore.csv'

In [ ]:
df

In [ ]:
# Get the top N rows (default is 10)
df.head(10)

In [ ]:
# RowID is the index. Lets set it to be the index
df.set_index("Row ID")

In [ ]:
df

## Uh Oh! this created a new dataframe!
This is a common issue people face in pandas. By default, most operations create new dataframes, rather than modifying them. As a result, most operations support the `inplace` argument to perform it on the existing dataframe.

In [ ]:
df.set_index("Row ID", inplace=True)
df

In [ ]:
# Let's look at the values for the "Category" column
df['Category'].unique()

In [ ]:
df_selection = df[ ["Ship Date", "Ship Mode", "Country"] ]  # we can select columns from our df by indexing with a list
df_selection

In [ ]:
# This returns us a new dataframe with those columns. If we want to extract just a single column as a Series, we index with just the column name
countries = df['Country']
print(type(countries))
countries

In [ ]:
df

In [ ]:
# we can select rows out of our dataframe in two ways. either by indexing via the row index (Row ID), or via the numerical row.
# In this example, they are equal, so will have the same result.
df.loc[0]

In [ ]:
# Indexing by row number works just like for lists, so we can get e.g. the last row
df.iloc[-1]

In [ ]:
# When extracted, rows are also represented by Series
type(df.iloc[-1])

In [ ]:
# Because we have a table, we can do common tabular operations
df.sort_values(by="State")  # sort alphabetically by state

In [ ]:
# Boolean indexing
df[df['Sales'] > 9800] # Select only rows where Sales > 9800

In [ ]:
df[(df['State'] == 'New York') & (df['Segment'] == 'C')]  # select only sales in New York where Segment == C

In [ ]:
# Setting data
# Let's modify a record's Customer ID

# First lets copy the data in to a new dataframe df2
df2 = df[(df['State'] == 'New York') & (df['Segment'] == 'C')]  # select only sales in New York where Segment == C

df2[['Segment', 'State', 'Customer ID']]  # notice that i can reorder columns this way!

In [ ]:
# Now lets set the value
df2.at[264, 'Customer ID'] = 'AAAAAAA'

df2[['State', 'Segment', 'Customer ID']]  # notice that i can reorder columns this way!

In [ ]:
df2

In [ ]:
# Similarly, we can utilize df.iat[row_number, column_number] to set values

In [ ]:
# Lets do some plotting

# Let's plot a scatter plot of profit versus sales, colored by Segment, for all New York sales
df[df['State'] == 'New York'].plot(
    kind='scatter',
    x='Profit',
    y='Sales',
    c=df[df['State'] == 'New York']['Segment'].map({'A': 'red', 'B': 'green', 'C': 'blue', 'D': 'orange'}))

In [ ]:
import seaborn as sns
sns.pairplot(df[['Sales', 'Profit', 'Quantity', 'Segment']], hue='Segment')

In [ ]:
df2 = df[['Sales', 'Profit', 'Quantity']]
sns.heatmap(df2.corr())

In [ ]:
df.plot?

In [ ]:
# What if we want to do some aggregation?

# Let's say we want to answer a question like "What is the average profit and sales by state"

In [ ]:
df.groupby?

In [ ]:
df.groupby("Category")[["Sales", "Profit"]].mean()

In [ ]:
# What about a full blown excel-style pivot table?
df.pivot_table?

In [ ]:
df.pivot_table(values=["Sales", "Profit"], index=["State", "Segment"], columns=["Category"]).head(50)

In [ ]:
# We can then select into this table
df.pivot_table(values=["Sales", "Profit"], index=["State", "Category"], columns=["Segment"]).loc['New York']

In [ ]:
df.pivot_table(values=["Sales", "Profit"], index=["State", "Category"], columns=["Segment"]).loc['New York'].style.background_gradient('Blues')

In [ ]:
# And of course, we can output to another format

# you might need to run the following line first
# !pip install openpyxl

df.to_excel("superstore.xlsx")